In [81]:
import pandas as pd
data = pd.read_csv('melb_house.csv')

In [82]:
subset_area = ['Abbotsford']
subset_data = data[data['suburb'].isin(subset_area)]
subset_data

,suburb,rooms,type,price,method,seller_g,date,distance,postcode,bedroom2,...,car,landsize,building_area,year_built,council_area,latitude,longitude,region_name,property_count,yr_qtr
0,Abbotsford,2,h,NaN,SS,Jellis,2016-09-03,2.5,3067.0,2.0,...,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0,2016.3
1,Abbotsford,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067.0,2.0,...,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0,2016.4
2,Abbotsford,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067.0,2.0,...,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0,2016.1
3,Abbotsford,3,u,NaN,VB,Rounds,2016-02-04,2.5,3067.0,3.0,...,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0,2016.1
4,Abbotsford,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067.0,3.0,...,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0,2017.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434,Abbotsford,3,h,955000.0,S,Biggin,2018-02-17,3.0,3067.0,3.0,...,2.0,86.0,122.0,2004.0,Yarra City Council,-37.79686,144.99621,Northern Metropolitan,4019.0,2018.1
32435,Abbotsford,2,t,NaN,SP,Jellis,2018-02-17,3.0,3067.0,2.0,...,2.0,4829.0,80.0,2015.0,Yarra City Council,-37.80665,144.99630,Northern Metropolitan,4019.0,2018.1
32436,Abbotsford,3,h,1200000.0,S,Biggin,2018-02-17,3.0,3067.0,3.0,...,1.0,211.0,93.0,1970.0,Yarra City Council,-37.80864,144.99386,Northern Metropolitan,4019.0,2018.1
32946,Abbotsford,3,h,1366000.0,S,Jellis,2018-03-17,3.0,3067.0,3.0,...,2.0,307.0,NaN,1900.0,Yarra City Council,-37.80103,144.99929,Northern Metropolitan,4019.0,2018.1
33916,Abbotsford,3,u,1755000.0,VB,Jellis,2018-02-24,3.0,3067.0,NaN,...,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0,2018.1

In [83]:
average_cost_subset = subset_data.groupby('suburb')['price'].mean()
average_cost_subset.head()

suburb
Abbotsford    1.033549e+06
Name: price, dtype: float64

In [84]:
averageroom= pd.melt(data, id_vars=['suburb'], value_vars=['rooms'])
averageroom

           suburb variable  value
0      Abbotsford    rooms      2
1      Abbotsford    rooms      2
2      Abbotsford    rooms      2
3      Abbotsford    rooms      3
4      Abbotsford    rooms      3
...           ...      ...    ...
34852  Yarraville    rooms      4
34853  Yarraville    rooms      2
34854  Yarraville    rooms      2
34855  Yarraville    rooms      3
34856  Yarraville    rooms      2

[34857 rows x 3 columns]

In [85]:
table = pd.pivot_table(subset_data, values='price', index=['type'],
                       columns=['rooms'], aggfunc="mean", fill_value=0)
table

rooms              1             2             3          4
type
h           0.000000  1.105481e+06  1.267894e+06  1614250.0
t           0.000000  7.960000e+05  1.044000e+06  1525000.0
u      427208.333333  6.643333e+05  1.187200e+06        0.0